/*
  Spacing
*/

div {
  --spacing: .25em;
}



/*
  Separator
*/

/* Content */

li:first-child:after {
  /*content: '|';*/
  /*content: '\000BB';*/ /* For » arrows */
  content: '';
  border-right: 2px solid;
  transition: border-right 50ms;
  margin-right: var(--spacing);
}

/* Hover effects */

ul:hover li:first-child:after {
  /*font-weight: bolder;*/
  border-right: 4px solid;
}

/* Link separator */

div {
  --link-separator: '|';
}


/*
  Colors
*/

/* Background */

body {
  background-color: #2a2a2a;
}

/* Text */

div {
  --text-color: white;
}

/* Heading */

h1 {
  color: #ffe28a;
}

/* Categories */

ul:nth-child(1) {
  color: #9ed670;
}

ul:nth-child(2) {
  color: #6bd2db;
}

ul:nth-child(3) {
  color: #ebdada;
}

ul:nth-child(4) {
  color: #e8702a;
}

ul:nth-child(5) {
  color: #ffbe4f;
}



/*
  Amount of chars in longest category name + 1
*/

li {
  width: 8ch;
}



/*
  Actual code
*/

body {
  font-family: 'Ubuntu Mono', monospace;
  margin: 0;
  overflow-x: hidden;
  text-align: center;
}

h1 {
  font-size: 8em;
  margin: 0;
  text-align: center;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  padding-left: 0;
}

li, a {
  color: var(--text-color);
  display: inline-block;
  position: relative;
  font-size: 2em;
  letter-spacing: normal;
  transition: color 200ms;
}

a:hover, li {
  color: inherit;
}

li:after {
  position: absolute;
  right: 0;
  height: 1em;
}

li, h1 {
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

li {
  margin-right: var(--spacing);
}

a + a:before {
  content: var(--link-separator);
  margin-left: var(--spacing);
  margin-right: var(--spacing);
  color: var(--text-color);
}

div {
  letter-spacing: -1em;
  text-align: left;
  display: inline-block;
  padding-left: 2em;
  padding-right: 2em;
}
